@using RestaurantWebBL.Interfaces
@model LocalizationUpdateModel
@inject ILocalizationService LocalizationService

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@LocalizationService.GetStringWithCode("localization-edit")</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocalizedString" class="control-label">@LocalizationService.GetStringWithCode("localization-localizedsting")</label>
                <input asp-for="LocalizedString" class="form-control" />
                <span asp-validation-for="LocalizedString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@LocalizationService.GetStringWithCode("localization-edit") class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>