@model DailyMenuCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DailyMenu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WeeklyMenu" class="control-label"></label>
                <select asp-for="WeeklyMenu" class="form-control" asp-items="ViewBag.WeeklyMenuId">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="WeeklyMenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayOfWeek" class="control-label"></label>
                <select asp-for="DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="DayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuPrice" class="control-label"></label>
                <input asp-for="MenuPrice" class="form-control" />
                <span asp-validation-for="MenuPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meal" class="control-label"></label>
                <select asp-for="Meal" class="form-control" asp-items="ViewBag.MealId">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Meal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

