@using RestaurantWebDAL.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WeeklyMenuViewModel>
@inject SignInManager<User> SignInManager


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="col-auto me-auto">Weekly Menus</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p class="col-auto mt-auto mb-auto">
            <a asp-action="Create" class="btn btn-success">Create New</a>
        </p>
    }
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-2">
            @item.DateFrom.ToShortDateString() - @item.DateTo.ToShortDateString()
        </div>
        <div class="col-10">
            @Html.DisplayFor(m => item.DailyMenusEnumerable, "DailyMenuList")
        </div>
    </div>
}
